<li class="nav-item">
  <a class="nav-link" href="index.html">
    <i class="icon icon-xl cil-home me-4"></i> Dashboard
  </a>
</li>
<li class="nav-group">
  <a class="nav-link nav-group-toggle" href="#">
    <i class="icon icon-xl cil-tablet me-4"></i> Whatsapp
  </a>
  <ul class="nav-group-items">
    <li class="nav-item"><a class="nav-link" href="{{base_url ''}}"> Device</a></li>
    <li class="nav-item"><a class="nav-link" href="{{base_url ''}}"> Auto Reply</a></li>
    <li class="nav-item"><a class="nav-link" href="{{base_url ''}}"> Package</a></li>
  </ul>
</li>
<li class="nav-item">
  <a class="nav-link" href="index.html">
    <i class="icon icon-xl cil-money me-4"></i> Billing
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="index.html">
    <i class="icon icon-xl cil-wallet me-4"></i> Dompet
  </a>
</li>